@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); /*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap'); /*Roboto Monospaced*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); /*Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); /*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap'); /*Montserrat*/

/* DOCUMENT RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

.clear {
    clear: both;
}


/* GRID SYSTEM */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}